@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="bottomMarginDefault">
</div>

<div class="container">
    <div class="h3">Looks like you are not authorised to see that</div>
    <div>Would you prefer to <a asp-controller="Authentication">log in as someone else</a></div>
</div>
